#countlabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Hellvetica;
    height: 1em;
}

.count-container{
    text-align: center;
}

.btn{

    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: hsl(214,100%,74%);
    border-radius: 5px;
    cursor: pointer;
    transition: background-colors 0.25s;
}

.btn:hover{
    background-color: hsl(214,100%,56%);
}